properties_files/target/classes/properties_files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<!-- flow name="properties_files_basics" doc:id="f56ef3fa-8967-4ba9-9e98-9270f4a50950" >
		<http:listener doc:name="HTTP GET" doc:id="afad7bc3-6549-4157-ac61-808d9cf4afa8" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="27f1e488-6c1f-4c1e-ba3d-4e979416c82a" message="${message}"/>
		<set-payload value="${message}" doc:name="Set Payload" doc:id="86e13614-d8ed-474d-a603-280dc8aac7c1" />
	</flow> -->
	<flow name="properties_files_dynamic" doc:id="f2b8eb11-4d4c-4719-b039-46b5ad3e6e1d" >
		<http:listener doc:name="HTTP GET" doc:id="68d88100-0071-4e55-a40b-f3607bb79240" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="94f1eb27-cfe0-4bf0-8d81-e5fde753145e" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": Mule::p("myMessage")&#10;}]'/>
		<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": Mule::p("myMessage")&#10;}]' doc:name="Set Payload" doc:id="bf08b838-934c-44f8-8121-0ac622088ef4" />
	</flow>
</mule>
